<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/admin-layout}"
      th:with="activeMenuItem='Director'">

<head>
    <title th:text="${title}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="card w-50 mx-auto mt-5">
        <div class="card-header">
            <div class="card-title" th:text="${title}">Tiêu đề</div>
        </div>
        <div class="card-body">
            <form th:action="@{/admin/director/save}" th:object="${director}" method="post">
                <input type="hidden" th:if="${director.id}" th:field="*{id}"/>
                <div th:replace="~{/admin/fragment/component/form :: form-input(
                        name='name',
                        label='Tên đạo diễn',
                        type='text',
                        required=true,
                        placeholder='Nhập tên Đạo diễn...')}">
                </div>
                <div class="card-action text-end">
                        <button type="submit" class="btn btn-success me-2"
                            th:text="${editMode?.name() == 'CREATE'} ? 'Thêm mới' : 'Cập nhật'">
                    </button>
                    <a th:href="@{/admin/director}" class="btn btn-danger">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
