spring:
  datasource:
    url: jdbc:mysql://localhost:3306/movie_db
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  thymeleaf:
    cache: false
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
    timeout: 30m

  flask:
    api:
      url: http://localhost:5000